body {
    background-color: bisque !important;
}
.jumdotron-custom
{
    background: url('/images/banner.jpg') 
    no-repeat !important;
    height: 400px;
}
.navbar-custom {
    background-color: darkred;
}