<%- include('header') -%>
    <div class="container">
    <h1>Välkommen till precisionsrecept.nu</h1>
    <p>För er som är trötta på blandade mått och vill få det exakt så som proffsen tänkt det! (Vi vet ju alla att en gul lök inte väger lika mycket)</p>
    </div>
<%- include('footer') -%>